@font-face {
  font-family: 'Spicy Rice';
  src: url('font/SpicyRice-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
.font1{
  font-family: 'Spicy Rice';
  font-size: 1em;
}
.cajaF{
  position: absolute;
  width: 450px;
  height: 500px;
  left: 420px;
  top: -300px;
  background: #FFC5D3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.texto1{
  position: absolute;
  left: 460px;
  top: -275px;
  font-family: Spicy Rice;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  text-align: justify;
  color: #6AD7E5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 2px rgba(0, 0, 0 , 1);
}
.circulo1{
  position: absolute;
  width: 132px;
  height: 106px;
  left: 583px;
  top: -360px;
  background: #FFC5D3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.figura1{
  position: absolute;
  width: 100px;
  height: 80px;
  left: 587px;
  top: -360px;
}
.cajat1{
  position: absolute;
  width: 324px;
  height: 55px;
  left: 480px;
  top: -160px;
  background: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.cajat2{
  position: absolute;
  width: 324px;
  height: 55px;
  left: 480px;
  top: -50px;
  background: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.boton1{
  position: absolute;
  width: 132px;
  height: 106px;
  left: 580px;
  top: 50px;
  background: #6AD7E5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.figura2{
  position: absolute;
  width: 100px;
  height: 80px;
  left: 585px;
  top:  108px;
}

 