@font-face {
  font-family: 'Spicy Rice';
  src: url('font/SpicyRice-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

p{
  font-family: Spicy Rice; 
  font-style: normal; 
  color: #FFC5D3; 
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  -webkit-text-stroke: 2px rgba(0, 0, 0 , 1); 
}
button{
  background-color: #6AD7E5;  
  border-radius: 10px; 
  width: 100px; 
  height: 40px;
  border: solid 1px black;
}
li{
  display: inline-block;
  padding: 15px 20px;
}

